#main.alpha.grid_9
  %div.grid_9#info
    = link_to '<< Previous day', "/stat/#{@previous_day}"
  %div.grid_9#info Zone
  %div.grid_9#zones_ads_stats{:style => 'margin-left:15px;'}
    - @stats.each do |stat|
      %div.grid_3
	%b= stat.zone.name
      %div.grid_3
        %table
          %tr
            %td.index Day 
            %td= stat.day
          %tr
            %td.index Views
            %td= stat.views
          %tr
            %td.index Hits
            %td= stat.hits
          %tr
            %td.index CTR
            %td
              = stat.hits / stat.views.to_f * 100
              = '%'
          %tr
            %td.index link to view
#sidebar.omega.grid_3
  .submenu
    %h5 aaaa
  .submenu
    %h5 aaaa
  .submenu
    %h5 aaaa
